<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/person-update}" th:object="${person}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="fullName">Full Name</label>
    <input type="text" th:field="*{fullName}" id="fullName">
    <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" >Ошибка имени</div>
    <br/>
    <label for="dateOfBirth">Date of birth</label>
    <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth">
    <div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" >Ошибка даты рождения</div>
    <br/>
    <label for="role">Role</label>
    <input readonly type="text" th:field="*{role}" id="role" placeholder="role">
    <br/>
    <input type="submit" value="Update">
    <div>
    <ul>
        <li th:each="err : ${#fields.errors('fullName')}" th:text="${err}" class="error" />
    </ul>
    </div>
</form>
</body>
</html>